body {
    background: #f9f8ff;
}

a,
input,
select {
    border: none;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}
/* Blog sec */

.blog-title {
    color: #3b3e43;
    font-family: DMSans-Bold;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}
.blog-serch {
    margin: 51px 0 61px 0;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.blog-serch__form {
    display: flex;
    align-items: center;
    position: relative;
}

.serch-form__serch {
    position: absolute;
    left: 23px;
}
.blog-serch-sec {
    width: 1075px;
}

.blog-serch__form input::placeholder {
    color: #000;
}
.blog-serch__form input {
    border-radius: 100px;
    border: 2px solid #72c7f0;
    background: #fff;
    height: 60px;
    width: 100%;
    padding-left: 58px;
}
.blog-serch__option {
    position: relative;
}

.blog-select {
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 2px solid #72c7f0;
    background: #fff;
    width: 175.098px;
    height: 60px;
    padding-left: 20px;
}
.blog-select__down {
    position: absolute;
    right: 12%;
    top: 32%;
}
.blog-main {
    border-radius: 10px;
    margin-bottom: 43px;
    background-color: #fff;
}
.blog-main__img {
    max-width: 1280px;
}
.blog-main__img img {
    width: 100%;
}
.blog-footer {
    margin: 20px 0 0 37px;
}
.blog-footer__info {
    display: flex;
    gap: 15px;
    align-content: center;
    padding: 10px 0 38px 0;
}
.blog-footer__name {
    color: #2b2c34;
    font-family: "DMSans-Bold";
    font-size: 40px;
    font-weight: 700;
    line-height: 122%;
}
.blog-info__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.info-name {
    color: #2b2c34;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.info-data {
    color: #2b2c34;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-transform: capitalize;
}
.info-data span {
    padding-left: 20px;
}
.info-data::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: black;
    top: 4px;
    left: 86px;
}
.blog-card__wrap {
    display: flex;
    justify-content: space-between;
}
.blog-card__1 {
    border-radius: 12px;
    background: #fff;
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
    padding: 22px;
    max-width: 300px;
}

.card-info__1 {
    display: flex;
    gap: 15px;
    align-content: center;
}
.blog-card__rec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    margin-top: 20px;
}
.blog-card__name {
    color: #2b2c34;
    font-family: "DMSans-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    width: 260px;
}
.blog-card__button {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.caard-btn__global {
    border-radius: 60px;
    background: linear-gradient(180deg, #3ec9b0 0%, #3ec2c9 48.77%, #56bcf2 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 30px;
    border: none;
    color: #fff;
    font-family: DMSans-Regular;
    font-size: 14px;
    font-weight: 700;
    line-height: 148%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

/* Blog sec */
.card-top__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card-top__left {
    color: #2b2c34;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    font-family: "DMSans-Bold";
    position: relative;
}
.card-top__left::before {
    position: absolute;
    content: "";
    background-color: black;
    width: 35px;
    height: 2px;
    top: 17px;
    right: -55px;
}
.card-top__right {
    color: #2b2c34;
    text-align: right;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 122%;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.banking {
    margin-top: 80px;
}
.banking-card__button {
    display: flex;
    justify-content: center;
    padding: 80px 0 140px 0;
}

/* email sec */
.email {
    background: #f5f5f5;
    padding: 58px 0;
}
.email-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.email-info__title {
    color: #2b2c34;
    font-family: DMSans-Regular;
    font-size: 40px;
    font-weight: 500;
    line-height: 122%;
}
.email-info__text {
    color: #72c7f0;
    text-align: center;
    font-family: DMSans-Regular;
    font-size: 25px;
    font-weight: 500;
    line-height: 122%;
    max-width: 670px;
}

.email-form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email-sec__form input {
    border-radius: 8px;
    background: #fffffe;
    font-family: DMSans-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    width: 444px;
    height: 67px;
    display: inline-block;
}
input::placeholder {
    color: #c0c0c0;
    padding-left: 25px;
}

.email-form__btn {
    border-radius: 8px;
    text-decoration: none;
    padding: 20px 23px;
    background: linear-gradient(180deg, #3ec9b0 0%, #3ec2c9 48.77%, #56bcf2 100%);
    color: #fffffe;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/* email sec */

/* Mediya sec */
@media (max-width: 1330px) {
    blog-serch {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
}
@media (max-width: 1300px) {
    .blog-card__wrap {
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        gap: 20px;
    }
    .blog-serch {
        gap: 10px;
    }
}
@media (max-width: 1024px) {
    .email-info__text {
        font-size: 25px !important;
        line-height: 122% !important;
    }
}
@media (max-width: 718px) {
    .email-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .blog-card__rec {
        margin-top: 10px;
    }
    .banking-card__button {
        padding: 50px 0 80px 0;
    }
}
@media (max-width: 530px) {
    .email-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog-select {
        width: 130px;
    }
    .blog-serch__form input {
        height: 60px;
        width: 83%;
        padding-left: 23px;
    }
    .email-sec__form input {
        width: 350px;
    }
    .card-top__left {
        font-size: 20px;
    }
    .card-top__right {
        font-size: 11px;
    }
    .card-top__left::before {
        top: 14px;
        right: -40px;
        width: 22px;
    }
    .email-info__title {
        font-size: 35px;
    }
    .email-info__text {
        font-size: 21px;
    }
}
@media (max-width: 400px) {
    .email-sec__form input {
        width: 260px;
    }
    blog-serch {
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }
}
